@media (prefers-color-scheme: dark) {
    
    header .logo-bistec img:nth-child(1){
        display: none;
    }

    header .logo-bistec img:nth-child(2){
        display: inherit;
    }
    
    .button:focus-within {
        border: 2px solid rgb(218, 218, 218);
    }

    .normal, 
    .normal ion-icon {
        color: #fff;
    }
    
    .normal::after{
        content: '';
        bottom: 0;
        position: absolute;
        left: 50%;
        width: 0%;
        height: 2.5px;
        background-color: #a0c8f9;
        transition: 0.2s;
    } 
    
    .normal:hover::after{
        left: 0;
        width: 100%;
    } 

    header .normal-submenu li a {
        color: #F3FAFA;
        background: #222222;
    }

    header .normal-submenu li a {
        color: #F3FAFA;
        background: #141414;
    }
    
    header .normal-submenu li a:hover {
        background: #0c407c;
        color: white;
    }
    
    .normal-submenu ion-icon {
        color: #f3fafa;
    }

    .menu-cell {
        color: #fff;
    }

    /*banner*/

    .banner-bistec {
        border-bottom: 3px solid #a0c8f9;
    }

    /* produtos */

    #bistec-automacao img:nth-child(1),
    #bistec-cloud img:nth-child(1),
    #bistec-edu img:nth-child(1),
    #bistec-outsourcing img:nth-child(1),
    #bistec-msp img:nth-child(1),
    #bistec-renting img:nth-child(1),
    #bistec-gpdr img:nth-child(1),
    #bistec-soft img:nth-child(1),
    #bistec-wifi img:nth-child(1){
        display: none;
    }

    #bistec-automacao img:nth-child(2),
    #bistec-cloud img:nth-child(2),
    #bistec-edu img:nth-child(2),
    #bistec-outsourcing img:nth-child(2),
    #bistec-msp img:nth-child(2),
    #bistec-renting img:nth-child(2),
    #bistec-gpdr img:nth-child(2),
    #bistec-soft img:nth-child(2),
    #bistec-wifi img:nth-child(2){
        display: inherit;
    }
    article {
        background-color: #141414;
    }
    
    .bistec-produtos {
        background-color: #141414;
        color: #f3fafa;
    }

    .bt-dialog {
        background-color: #A0C8F9;
        min-width: 0;
    }

    .texto-produtos .button_text {
        color: #141414;
      }

    .bt-dialog:hover {
        background: #add1fd;
        transition: 0.4s;
    }

    .bt-dialog::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 6px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.8s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    }
    .bt-dialog:hover::before{
        transform: scaleY(1);
        border-radius: 6px;
    }
        
    .bt-dialog:active{
        background-color: #fff;
    }

    .bt-dialog:focus-within {
        background-color: #f3fafa;
    }

    /*footer*/

    footer {
        margin-top: 0;
    }

    /* pág contato */

    .article_contact {
        border-radius: 1em;
    }
    
    
    .formulario {
        border-radius: 1em;
        background-color:#000;
        color: #F3FAFA;
        border: 4px solid #A0C8F9;
    }

    input, textarea {
        background: rgb(0, 0, 0);
        color: rgb(224, 224, 224);
        border: 1px solid #65ADE2;
    }

    input[type=submit]{
        background: linear-gradient(135deg, #65ADE2, #BA83C0);
        border: transparent;
        color: black;
    }

    input[type=submit]:hover {
        background: linear-gradient(135deg, #BA83C0, #65ADE2);
        color: black;
    }

    /* pág suporte */
    
    .bistec-suporte {
        color: #f3fafa;
    }

    .bistec-suporte .button_text {
        color: #000;
    }

    .bt-dialog-anydesk {
        background-color: #FF8277;
        color: #141414;
    }

    .bt-dialog-teamviewer {
        background-color: #a0c8f9;
        color: #141414;
    }

    .bt-dialog-anydesk:hover {
        background-color: #ffa79f;
    }

    .bt-dialog-teamviewer:hover {
        background-color: #b3dbff;
    }

    .suporte-wpp {
        color: #8deb8d;
    }

    .suporte-telegram {
        color: #8bc2f1;
    }

    /* páginas de portefólio */

    .produto-texto {
        background-color: #202124;
        color: #f3fafa;        
    }

    .produto-texto .link_msp {
        color: #8bc2f1;
    }

    /*pág bistec edu*/
    .bistec-edu-plataformas a:nth-child(2), 
    .bistec-edu-plataformas a:nth-child(4) {
        display: inherit;
        width: 16em;
        padding: 0 1em;
    }

    .bistec-edu-plataformas a:nth-child(1),
    .bistec-edu-plataformas a:nth-child(3) {
        display: none;
    }

    /*páginas de email enviado*/

    .email-enviado{
        color: #f3fafa;
        background: #141414;
    }

    .email-enviado h1 {
        color: #f3fafa;
        background: #141414;
    }
    
    .email-enviado p {
        background: #141414;
        color: #f3fafa;
    }

    .email-enviado ion-icon {
        color: rgb(7, 236, 57);
        opacity: 0.8;
    }

    .email-enviado #ionicEmailFalhou{
        color: rgb(255, 81, 81);
        opacity: 0.8;
    }

    @media (max-width: 620px) {

        .menu-cell {
            display: block;
            color: #fff;
        }
    
        .menu-cell li ion-icon {
            color: #f3fafa;
        }
        
        .normal-menu {
            text-align: center;
            background-color: #141414;
            color: #f3fafa;
            border-bottom: none;
        }
    
        .normal:hover{
            border: none;
            color: #A0C8F9;
            transition: 0.2s;
        } 
    
        .button_support,
        .support_icon {
            background: #0c407c;
            color: #f3fafa;
            border-right: none;
        }

        
        .button_support:hover {
            background: #0c407c;
        }
    
        .button_support .button_text {
            color: #f3fafa;
        }
    
        .texto-produtos .button_text {
            color: #141414;
        }
    }
}