
@media (max-width: 620px) {
    .header-bistec {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .normal-menu{
        background-color: #F3FAFA;
        display: none;
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        padding: 3% 8%;
    }
    .normal-menu li{
        width: fit-content;
    }

    .logo-bistec {
        align-items: flex-start;
        margin: 0;
    }

    .menu-cell {
        display: block;
        float: right;
        margin-right: 20px;
    }
    .menu-cell li ion-icon {
        color: #141414;
        display: block;
        padding: 0;
        margin-top: 10px;
        font-size: 35px;
    }

    .normal-submenu{
        /* width: 100%; */
        z-index: 1;
        /* margin: 0;
        padding: 0; */
    }
    
    /* banner */

    .banner-bistec {
        display: none;
    }
    
    .banner-bistec-mobile {
        display: block;
        width: auto;
        margin: auto;
        position: relative;
    }

    .banner-bistec-mobile img{
        width: 100%;
        height: 85vh;
        margin-top: 77px;
    }

    .banner-bistec-texto {
        transform: translate(-45%, -50%);
    }

    .banner-bistec-texto h1 {
        font-size: 6vw;
    }
    .banner-bistec-texto h2 {
        font-size: 4vw;
    }

    /* produtos */

    .bistec-produtos {
        flex-direction: column;
        margin-top: 5em;
    }

    .bistec-produtos img {
      width: 65%;
    }

    .texto-produtos {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 85%;
    }
    .texto-produtos h2{
      text-align: center;
      font-size: 5.2vw;
      font-weight: 500;
    }
    .texto-produtos h4{
        text-align: center;
        font-size: 4.2vw;
        font-weight: 400;
    }
    
    .bt-dialog {
        padding: 0 10px;
        margin: auto;
        margin-top: 3.5vh;
    }
    
    .bt-dialog .button_text {
        font-size: 3vh;
    }

    /* rodapé */

    footer {
        margin-top: 2em;
    }

    .redes-sociais {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer ion-icon {
        padding: 12px;
        font-size: 4.5vh;
    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        font-size: 20px;
        max-width: 55%;
    }

    .footer-copyright p {
        max-width: 70%;
    }
}