
@media (max-width: 620px) {
    .header-bistec {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .normal-menu,  
    .buttons-menu{
        display: none;
    }

    .logo-bistec {
        align-items: flex-start;
        margin: 0;
    }

    .menu-cell {
        display: block;
        float: right;
        margin-right: 20px;
    }
    .menu-cell li ion-icon {
        color: #141414;
        display: block;
        padding: 0;
        margin-top: 10px;
        font-size: 35px;
    }
    
    /* banner */

    .banner-bistec {
        display: none;
    }
    
    .banner-bistec-mobile {
        display: block;
        width: auto;
        margin: auto;
        position: relative;
    }

    .banner-bistec-mobile img{
        width: 100%;
        height: 85vh;
        margin-top: 77px;
    }

    .banner-bistec-texto {
        transform: translate(-45%, -50%);
    }

    .banner-bistec-texto h1 {
        font-size: 6vw;
    }
    .banner-bistec-texto h2 {
        font-size: 4vw;
    }

    /* produtos */

    .bistec-produtos {
        flex-direction: column;
        margin-top: 5em;
    }

    .bistec-produtos img {
      width: 65%;
    }

    .texto-produtos {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 85%;
    }
    .texto-produtos h2{
      text-align: center;
      font-size: 5.2vw;
      font-weight: 500;
    }
    .texto-produtos h4{
        text-align: center;
        font-size: 4.2vw;
        font-weight: 400;
    }
    
    .bt-dialog {
        padding: 0 10px;
        margin: auto;
        margin-top: 2vh;
    }
    
    .bt-dialog .button_text {
        font-size: 3vh;
    }

    /*modal*/

    .modal-content {
        position: relative;
        margin: 18% auto;
        padding: 0;
        width: 85%;
        height: 80%;
        animation-name: animatepopup;
        animation-duration: 0.4s;
    }

    .modal-header {
        padding: 0.5em 1em;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid #080808;
      }

    .close {
        line-height: 80%;
    }
      
      .modal-body {
        padding: 1em 1em;
    }

    .modal-body p {
        font-size: 0.7em;
        padding: 0.3em 0;
      }

    .modal-body ul li {
        list-style: none;
        font-size: 0.6em;
    }
      
    .modal-footer {
        padding: 0.5em 1em;
      }
    
      .modal-footer p {
        text-align: center;
        font-size: 0.65em;
      }

    /* rodapé */

    footer {
        margin-top: 2em;
    }

    .redes-sociais {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer ion-icon {
        padding: 12px;
        font-size: 4.5vh;
    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        font-size: 20px;
        max-width: 55%;
    }

    .footer-copyright p {
        max-width: 70%;
    }
}