.bistec-suporte {
    max-width: 70%;
    color: #141414;
    margin: auto;
    margin-top: 77px;
    text-align: center;
    padding: 5vh 0;
}

.bistec-suporte h1 {
    font-size: 4vw;
}

.bistec-suporte p {
    font-size: 2vw;
    padding: 1.75vh 0;
}

.bistec-suporte .button_text {
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
    color: #fff;
    height: 100%;
}

.bt-dialog-anydesk {    
	background-color: #A62923;
    align-items: center;
    padding: 2vw 2vw;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
	border: none;
	outline: none;
    font-weight: 700;
}

.bt-dialog-anydesk:hover {
	background-color: #9b1d16;
}

.bt-dialog-teamviewer {    
	background-color: #0859A1;
    align-items: center;
    padding: 2vw 2vw;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
	border: none;
	outline: none;
    font-weight: 700;
    margin-bottom: 1vw;
}

.bt-dialog-teamviewer:hover {
	background-color: #095191;
}

.suporte-wpp {
    color: #006700;
    text-decoration: underline;
}

.suporte-telegram {
    color: #08457a;
    text-decoration: underline;
}