@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    src: local('Arial');
    font-display: swap;
  }
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
/*--- HEADER ---*/
header {
    background-color: #F3FAFA;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
    top: 0;
}
.header-bistec {
    width: 100%;
    display: flex;
    position: fixed;
    padding: 2px 100px;
    display: flex;
    z-index: 1;
}
.logo-bistec img {
    width: 16vw;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}
/* trocando imagens logo - dark mode*/
header .logo-bistec img:nth-child(2){
    display: none;
}
header ul {
	display: inline-flex;
}
header ul li {
    list-style: none;
    display: block;
}
header .normal-menu {
    margin-left: 60px;
}
.normal-menu li{
    position: relative;
}
header .normal-menu li a {
    display: block;
    margin: 0 8px;
}
.normal-submenu li a {
    width: 200px;
    padding: 12px;
    color: #141414;
    background: #F3FAFA;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.473);
}
.normal-submenu li a:hover,
.normal-submenu li a:focus-within {
    background: #0c407c;
    color: white;
    transition: 0.2s;
}
.normal-submenu ion-icon {
    font-size: 15px;
    color: #141414;
    margin-right: 5px;
}
header ul ul {
    position: absolute;
    top: 34px;
    display: none;
}
.normal-submenu li a:hover > ion-icon,
.normal-submenu li a:focus-within > ion-icon {
    color: #fff;
}
header ul :hover > ul{
    display: block;
}
.button {
	display: inline-flex;
    height: 30px;
	padding: 0;
    margin: 0;
	background: #BB0A0A;
	border-radius: 6px;
	overflow: hidden;
    border: none;
    outline: none;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 900;
	cursor: pointer;
}
.button:hover {
	background: #c91818;
}
.button:active{
	background: #d12b2b;
}
.button:focus-within {
    border: 2px solid #141414;
}
.button_text,
.button_icon {
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
	color: #fff;
    height: 100%;
}
a {
    text-decoration: none;
}
.normal {
	display: inline-flex;
    height: 30px;
    margin: 0 10px;
	color: #141414;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
	font-weight: 700;line-height: 2;
    position: relative;
    
}

.normal ion-icon {
    color: black;
}

:focus-within > .normal-submenu {
    display: block;
}

.normal::after{
    content: '';
    bottom: 0;
    position: absolute;
    left: 50%;
    width: 0%;
    height: 2.5px;
    background-color: #141414;
    transition: 0.2s;
} 
.normal:hover::after{
    left: 0;
    width: 100%;
} 
.button_icon {
	background: #056006;
}
.button_support {
	display: inline-flex;
    height: 30px;
	padding: 0;
    margin: 0;
	border: none;
	outline: none;
	border-radius: 6px;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 800;
	cursor: pointer;
    background: #0c407c;
}
.button_support:hover {
    background: #10498a;
}
.button_support:active{
    background: #18559b;
}
.support_icon {
    background: #07305f;
}
.menu-cell {
    display: none;
}
/*----BANNER---------------------------------------------------------*/
.banner-bistec{
    width: auto;
    margin: auto;
    position: relative;
    border-bottom: 2px solid #141414;
}
.banner-bistec img{
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}
/*PROVISÓRIO PARA CORREÇÃO DE DUPLICIDADE DE IMAGENS NAS OUTRAS PÁGINAS*/
.banner-bistec-mobile {
    width: auto;
    margin: auto;
    display: none;
}
.banner-bistec-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -50%);
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 4vw;
    font-weight: 300;
}
.banner-bistec-texto h1{
    font-size: 5.2vw;
}
.banner-bistec-texto h2{
    font-size: 3.7vw;
}
/*---PRODUTOS------------------------------------*/
.bistec-produtos{
    padding: 5vw 2.5vw 2.5vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.bistec-produtos img{
    aspect-ratio: attr(width) / attr(height);
    width: auto;
    height: auto;
}
#bistec-automacao img:nth-child(2),
#bistec-cloud img:nth-child(2),
#bistec-edu img:nth-child(2),
#bistec-outsourcing img:nth-child(2),
#bistec-msp img:nth-child(2),
#bistec-renting img:nth-child(2),
#bistec-gpdr img:nth-child(2),
#bistec-soft img:nth-child(2),
#bistec-wifi img:nth-child(2){
    display: none;
}
.texto-produtos{
    margin-left: 2.5vw;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.bistec-produtos img{
    width: 35vw;
    margin: 1vw;
    margin-right: 2.5vw;
}
.texto-produtos h2{
    font-size: 2.5vw;
    font-weight: 500;
}
.texto-produtos h3{
    font-size: 2vw;
    font-weight: 400;
}
.texto-produtos p{
    font-size: 1.5vw;
    font-weight: 400;
}
.bt-dialog{
	background-color: #141414;
    margin: 1vw 0vw 0vw 0vw;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 800;
}
.bt-dialog:hover {
	background-color: #1f1f1f;
}
.bt-dialog:active{
	background-color: #2e2d2d;
}
.bt-dialog:focus-within {
    background-color: #13549E;
    transition: 1s;
}
.bt-dialog .button_text,
.bt-dialog ion-icon {
	color: rgb(255, 255, 255);
    font-size: 1.6vw;
}
dialog span {
    background-color: #10498a;
    color: #F3FAFA;
    width: 100%;
    padding: 10px;
}
/*--RODAPÉ---------------------------------------------*/
footer{
    background-color: #262525;
    padding-top: 25px; padding-bottom: 25px;
    border-bottom: 1px solid #A0C8F9;
    border-top: 5px solid #A0C8F9;
}
footer ion-icon{
    color: #D0CEC6;
    font-size: 5vh;
    border: #D0CEC6 solid 2px;
    border-radius: 100%;
    padding: 0.3em;
    margin: 0.3em auto;
}
footer .redes-sociais a:focus-within > ion-icon {
    cursor: pointer;
    background-color: #D0CEC6;
    color: #262525;
    transition: 0.7s;
}
footer ion-icon:hover {
    cursor: pointer;
    background-color: #D0CEC6;
    color: #262525;
    transition: 0.7s;
}
.redes-sociais{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* border-bottom: 3px solid #A0C8F9; */
    margin: 0 auto;
    max-width: 70%;
}
.ionspecial {
    color: #A0C8F9;
    border: #A0C8F9 solid 2px;
    border-bottom: 3px solid #A0C8F9;
}
footer .redes-sociais a:focus-within > .ionspecial,
footer .redes-sociais button:focus-within > .ionspecial {
    background-color: #A0C8F9;
    color: #262525;
    transition: 0.5s;
}
.ionspecial:hover {
    background-color: #A0C8F9;
    color: #262525;
    transition: 0.5s;
}
.contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border-top: 2px solid #a0c8f9;
    font-size: 20px;
    font-weight: 100;
    max-width: 80%;
    margin-top: 25px; 
}
footer .item1,
footer .item2 {
    margin-top: 25px;
    padding: 0 5px;
}
footer .item3,
footer .item4 {
    margin-top: 25px;
    font-size: 20px;
}
footer .contact p,
footer .contact a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
}
footer .contact img{
    aspect-ratio: attr(width) / attr(height);
    width: auto;
    height: auto;
}
footer .item1 p,
footer .item2 p,
footer .item3 p {
    text-decoration: underline;
}
/* footer - copyright*/
.footer-copyright {
    background-color: #141414;
    padding: 8px 0;
}

.footer-copyright p {
    color: #A0C8F9;
    text-align: center;
    border-style: solid;
    border-color: transparent;
    user-select: none;
}


/* PROVISÓRIO*/
footer button {
    background: transparent;
    border: none;
}

footer button:focus-within{
    border: 1px solid white;
}