
/* tablet */
@media (min-width: 621px) and (max-width:950px){
    .header-bistec {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    .normal-menu{
        background-color: #F3FAFA;
        display: none;
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        padding: 3% 8%;
        border-bottom: 1px solid #b3b3b3;
    }

    .logo-bistec {
        align-items: flex-start;
        margin: 0;
        margin-left: 10px;
        position: absolute;
        z-index: 2;
    }

    .menu-cell {
        display: block;
        float: right;
        margin-right: 20px;
    }
    .menu-cell li ion-icon {
        color: #141414;
        display: block;
        padding: 0;
        margin-top: 10px;
        font-size: 35px;
    }
    
    .normal-submenu{
        width: 100%;
        z-index: 1;
        /* margin: 0;
        padding: 0; */
    }

    .normal-menu li{
        width: fit-content;
    }

    .button_support {
        margin-top: 6%;
    }

    /* banner */

    .banner-bistec img {
        margin-top: 0;
    }

    /* produtos */

    .bistec-produtos {
        flex-direction: column;
        margin-top: 5em;
    }

    .bistec-produtos img {
      width: 55%;
    }

    .texto-produtos {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 85%;
    }
    .texto-produtos h2{
      text-align: center;
      font-size: 4.6vw;
      font-weight: 500;
    }
    .texto-produtos h4{
        text-align: center;
        font-size: 3.2vw;
        font-weight: 400;
    }
    
    .bt-dialog {
        margin: auto;
        margin-top: 2vh;
    }
    
    .bt-dialog .button_text {
        font-size: 25px;
    }

    /* rodapé */

    footer {
        margin-top: 4vh;
    }

    .redes-sociais {
        max-width: 85%;
    }

    footer ion-icon {
        padding: 8px;
        font-size: 4vh;
    }

    .contacts {
        max-width: 65%;
    }
}