@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

/*--- HEADER ---*/

header {
    background-color: #F3FAFA;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bistec {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bistec {
    align-items: center;
}

header ul {
	display: inline-flex;
}

header ul li {
    list-style: none;
}

.button-normal a:hover {
    border-bottom: 2px solid #141414;
}

section {
    background-color: #141414;
    height: 582px;
}


.button {
	display: inline-flex;
    height: 30px;
	padding: 0;
    margin: 0 10px;
	background: #BB0A0A;
	border: none;
	outline: none;
	border-radius: 6px;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.button:hover {
	background: #c91818;
}

.button_text,
.button_icon {
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
	color: #fff;
    height: 100%;
}

a {
    text-decoration: none;
}

.normal {
	display: inline-flex;
    height: 30px;
    margin: 0 10px;
	align-items: center;
	padding: 0;
	color: #141414;
    height: 100%;
	border: none;
	outline: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
	font-weight: 600;
}

.normal:hover{
    border-bottom: 2px solid #141414;
}

ion-icon {
  color: white;
}

.button_icon {
	background: #056006;
}

.button_support {
	display: inline-flex;
    height: 30px;
	padding: 0;
    margin: 0 10px;
	border: none;
	outline: none;    
	border-radius: 6px;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
    background: #0c407c;
}

.button_support:hover {
    background: #10498a;
    color: #114E93;
}

.support_icon {
    background: #07305f;
}

/*----BANNER---------------------------------------------------------*/
.banner-bistec{
    width: 100%;
    margin: auto;
    position: relative;
}

.banner-bistec img{
    width: 100%;
}
.banner-bistec-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    color: #fff;
    font-size: 4vw;
    font-weight: 600;
}
.banner-bistec-texto p{
    font-size: 3vw;
}