
/* tv */

@media (min-width: 2400px) {
    .redes-sociais {
        max-width: 70%;
    }

    footer ion-icon {
        padding: 8px;
        font-size: 45px;
    }

    .contacts {
        grid-template-columns: repeat(4, 1fr);
        max-width: 55%;
    }
}